{% extends "base.html" %} {% block title %}Orders - My Store{% endblock %} {% block content %}
<h2>Orders Summary</h2>
<p><strong>Total Orders:</strong> {{ total_orders }}</p>
<p><strong>Grand Total:</strong> ₹{{ grand_total }}</p>

<p><strong>Order Status Breakdown:</strong></p>
{% for status, count in status_counts.items %}
<li>{{ status }}: {{ count }}</li>
{% endfor %}


<hr>

<hr> {% for order_data in orders %}
<h2>Order ID: {{ order_data.order.id }} - {{ order_data.order.status }}</h2>
<p>Total Order Price: ₹{{ order_data.subtotal }}</p>

<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Actions</th>
    </tr>
    {% for item in order_data.items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.price }}</td>
        <td>₹{{ item.subtotal }}</td>
        <td><a href="{% url 'track-order' item.id %}" class="btn btn-info btn-sm mt-2">Track Order</a>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="order">
    {% if order_data.shipping_address %}
    <p><strong>Shipping Address:</strong> {{ order_data.shipping_address.street }}, {{ order_data.shipping_address.city }}, {{ order_data.shipping_address.state }}, {{ order_data.shipping_address.zip_code }}
    </p>
    {% else %}
    <p><strong>Shipping Address:</strong> Not provided</p>
    {% endif %}
</div>

<hr> {% empty %}
<p>No orders found.</p>
{% endfor %} {% endblock %}